.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header__menu {
  justify-self: start;  
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header__links-list-item {
  font-size: 18px;
  line-height: 21px;
}

.header__logo {
  justify-self: center;
  width: 148px;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
}

.header__address {
  justify-self: end;
  max-width: 240px;
}

.header__link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header__link_active {
  text-decoration: none;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.address__link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.cover {
  position: relative;
  box-sizing: border-box;
  min-height: 757px;
  padding: 165px 50px 50px;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
} 

.cover__title {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #ffffff;
  font-weight: 700;
  font-size: 100px;
  line-height: 115px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  margin-left: 26px;
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.aligned-text_left {
  text-align: left;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 105px;
}

.cover__description-text {
  color: #ffffff;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  border: 1px solid #ffffff;
  padding: 12px 32px;
  color: #ffffff;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.lots {
  padding-top: 180px;
  padding-bottom: 90px;
}

.lots__heading {
  margin-bottom: 24px;
  padding-left: 64px; 
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.lots__card-list {
  display: grid;
  grid-template-columns: repeat(3, 334px);
  justify-content: center;
  gap: 25px;
  margin: 0;
  padding: 0;
  list-style: none;
} 

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 596px;
  padding: 48px 40px;
  color: #ffffff;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title,
.card__text {
  position: relative;
  z-index: 2;
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  font-size: 20px;
  line-height: 120%;
}

.lots__look-more-link {
  padding-left: 63px;
  display: inline-block;
  margin-top: 30px;
  color: #000000;
  font-size: 20px;
  line-height: 23px;
  text-decoration: underline;
}

.about {
  display: grid;
  grid-template-columns: 240px 740px;
  gap: 72px;
  padding: 0 24px;
  margin-top: 69px;
  margin-left: 45px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
} 

.about__title {
  margin-top: 100px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.about__column:last-child {
  padding-top: 0px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 100px;
}

.about__text p {
  width: 688px;
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: start;
  padding: 45px 50px 45px;
  margin-top: 136px;
}

.footer .address {
  justify-self: start;
  align-items: flex-start;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

.footer__menu-list-item {
  margin-bottom: 1px;
}

.footer__menu-link {
  color: #000;
  font-size: 18px;
  line-height: 21px;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  gap: 48px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__social-link {
  display: block;
  width: 48px;
  height: 48px;
}

.footer__social-icon {
  width: 100%;
  height: 100%;
}